body{
    background-image: url(../img/bg.jpg);
    background-color: black;
}
#content{
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}
nav ul{
    display: flex;
}
nav li{
    margin-right: 10%;
    list-style-type: none;
}
nav li:hover{
    font-weight: bold;
}